@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  direction: rtl;
  padding: 0;
  margin: 0;
  box-sizing: 0;
  background-color: #F2F2F2;

}
@layer components {
  .gray-text {
@apply  text-gray-400 text-base font-bold 
  }
  .black-text {
    @apply  text-black text-base font-bold 
  }
  .blue {
    @apply  text-[#0EA5E9] 
  }
}


.css-1ff8729-MuiInputBase-root-MuiFilledInput-root:after,.css-1ff8729-MuiInputBase-root-MuiFilledInput-root::before,
.css-1ff8729-MuiInputBase-root-MuiFilledInput-root:focus {
  border: none;
}